.menuContainer {
  position: absolute;
  background-color: white;
  box-shadow: 10px 10px 400px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 400px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 400px 0px rgba(0, 0, 0, 0.75);
  transition: 1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0 auto;
  width: 70%;
  min-height: 60vh;
  z-index: 100;

  .menuPaddings {
    padding: 20px;

    .menuIcon {
      background-color: transparent;
      border: none;
      width: 35px;
      height: 35px;
      display: flex;
      margin-left: auto;
    }

    .menu {
      li {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 60px;
        }
      }
      ul {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    a {
      font-family: "Cormorant", serif;
      color: #000;
      font-family: Cormorant;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .mobileLinks {
      margin-top: 60px;

      .mobileLinksList {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          margin-bottom: 35px;
          &:last-child {
            margin-bottom: 60px;
          }
        }
        a {
          color: #000;
          font-family: Open Sans;
          font-size: 13px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }
      }
    }
  }

  .mobileActions {
    width: 100%;
    background-color: #f7f2ea;
    display: flex;
    padding-top: 20px;
    padding-bottom: 18px;
    justify-content: center;

    a {
      margin-right: 70px;

      &:last-child {
        margin-right: 0px;
      }
    }
    // justify-content: space-between;
  }
}

.open {
  top: 0;
  left: 0;
  right: 0;
  transition: top 1s ease-in-out;
  width: 70%;
  animation: fadeIn 1s ease-in-out;
  position: absolute;
}

.close {
  left: 0;
  right: 0;
  top: -1000px;
  position: absolute;
  transition: top 10s ease-in-out; /* Adjust the duration as needed */
  width: 70%;
  animation: fadeOut 10s ease-in-out; /* Adjust the duration as needed */
}

@keyframes fadeIn {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1000px);
  }
}
