.button {
  background-color: #fff;
  display: flex;
  padding: 12px 41px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #151618;
  cursor: pointer;
  transition: 0.5s ease-in;

  &:hover {
    scale: 1.1;
  }

  @media (max-width: 480px) {
    max-width: 120px;
    min-width: 90px;
    height: 61px;
    padding: 0;
    
  }
}
