.button {
  background-color: #fff;
  display: inline-flex;
  padding: 12px 41px;
  align-items: flex-start;
  gap: 10px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #151618;
  cursor: pointer;
  transition: 0.5s ease-in;

  &:hover {
    scale: 1.1;
  }

  @media (max-width:400px) {
    padding: 12px 30px;
    
  }
}
