.join {
  background-color: #f7f2ea;
  background-image: url(../../images/JoinBg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  min-height: 418px;
  color: "#151618";

  .joinContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 1200px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media (max-width: 480px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .textWrapper {
      width: 580px;

      @media (max-width: 1200px) {
        width: 780px;
      }
      @media (max-width: 768px) {
        width: 640px;
      }
      @media (max-width: 480px) {
        width: 325px;
      }

      .joinTitle {
        font-family: Cormorant;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 50px;
        @media (max-width: 480px) {
          margin-bottom: 30px;
        }
        @media (max-width: 1200px) {
          text-align: center;
        }
        @media (max-width: 375px) {
          font-size: 24px;
        }
      }

      .joinDescription {
        font-family: Open Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 300;
        line-height: 150%;
        @media (max-width: 480px) {
          font-family: Open Sans;
          font-size: 13px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
        }

      }
    }

    .formWrapper {
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      width: 580px;
      @media (max-width: 1200px) {
        width: 780px;
      }
      @media (max-width: 768px) {
        width: 560px;
      }
      @media (max-width: 480px) {
        width: 325px;
      }

      form {
        position: relative;

        .formActions {
          display: flex;
          margin-bottom: 12px;
        }
        .borderInput {
          border-bottom: 1px solid #b8b58b;
          margin-right: 25px;
          position: relative;
          width: 439.005px;
          @media (max-width: 480px) {
            width: 350px;
          }
          input {
            font-family: Open Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 150%;
            outline: none;
            border: none;
            background-color: transparent;
            color: #b8b58b;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }

        .label {
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 150%;
          color: #b8b58b;
          position: absolute;
          z-index: 5;
          top: 20px;
          left: 30px;
          transition: all 0.3s ease;
          z-index: 100;
        }

        .labelFocused {
          font-family: Open Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: 150%;
          color: #b8b58b;
          position: absolute;
          z-index: 5;
          top: -20px;
          left: 10px;
          width: fit-content;
          transition: all 0.3s ease;
          z-index: 100;
        }

        .checkbox {
          display: flex;
          
          input {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            background-color: #b8b58b;
            margin-right: 10px;
          }

          p {
            font-family: Open Sans;
            font-size: 13px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
          }
        }
      }
    }
  }
}
